.place__title {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  align-self: normal;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  font-style: normal;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .place__title {
    padding-right: 16px;
    padding-left: 16px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    order: -2;
  }
}
