.place__link {
  width: 100%;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-decoration-line: underline;
  transition: opacity 2s ease-out .01s;
}

.place__link:hover {
  opacity: 0.8;
}
