.place__list-pharagraphs {
  max-width: 102.542%;
}

@media screen and (max-width: 767px) {
  .place__list-pharagraphs {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 100%;
    order: 2;
  }
}
